.login{
    width: 100vw;
    height: 100vh;
    /* background-image: url('./public/login_bgimg3.jpg'); */
    /* background-repeat: no-repeat;
    background-size: 100vw 100vh; */
    /* filter: blur(2px); */
    
    background-color: blue;
}

.brandlogo{
    filter: drop-shadow(0 0 1rem #FFD700);
}

.loginbtn:hover{
    border: 0.15rem solid #e7e7e7;
    background-color: #3a1051;
    color: #e7e7fc;
}

/* .loginlogo{
    
} */